@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
@import url('https://fonts.googleapis.com/css?family=Cambay:400,700');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400i');

/* Universal and Body Styles ---------------- */

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    ;
}

body {
    font-family: "Cambay", sans-serif;
    color: #fff;
    height: 100%;
    width: 100%;
}

main {
    overflow: auto;
}

/* Hero Image Styles ---------------- */

.background-image {
    background: url(../../images/hero-image.jpg);
    /* height: 750px; */
    height: 65vh;
    width: 100%;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Section Divider Tags Styles ---------------- */

.section_title {
    text-align: center;
    color: #f97c80;
    font-weight: 700;
    margin-bottom: 15px;
}

.section_title::after {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    display: block;
    height: 3px;
    width: 30px;
    background-color: #f97c80;
}

.section_subtext {
    font-family: "Crimson text";
    font-size: 16px;
    line-height: 1.4;
    color: #555;
    text-align: center;
    margin-bottom: 40px;
}







/* Nav and logo wrapper styles---------------- */

.main_nav {
    position: fixed;
    top: 0;
    color: #fff;
    height: 90px;
    width: 100%;
    background-color: transparent;
    z-index: 2000;
    transition: .35s;
}

.main_nav.blue {
    background-color: rgba(35, 40, 55, 0.95);
    height: 90px;
}

.logo_wrapper {
    height: 90px;
    margin-left: 10%;
    display: flex;
}

.logo_image {
    height: 39px;
    width: 39px;
    border-radius: 100%;
    align-self: center;
    margin-right: 15px;
    filter: drop-shadow(-1px 1px 1px #777);
}

.logo_text {
    font-weight: 400;
    display: inline;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 1.25px;
    line-height: 1.5;
    align-self: center;
    text-shadow: -2px 2px 1px #777;
    transition: .3s;
}


.logo_text-span {
    align-self: center;
    font-weight: initial;
    font-size: .55em;
}


.nav_list-wrapper {
    position: fixed;
    height: 90px;
    width: 100%;
    top: 0;
    right: 0;
    margin-right: 10%;
}

.main_nav-list {
    height: 90px;
    display: flex;
    align-items: center;
    float: right;
    font-size: .95em;
}

.main_nav-list li {
    align-items: center;
    list-style-type: none;
}

.nav_list-item {
    font-size: 15px;
    letter-spacing: 1px;
    color: #fff;
    text-decoration: none;
    text-shadow: -2px 2px 2px #777;
    transition: .3s
}

.nav_list-item {
    font-size: 15px;
    letter-spacing: 1px;
    color: #fff;
    text-decoration: none;
    text-shadow: -2px 2px 2px #777;
    transition: .3s
}


.explore {
    padding-right: 40px;
}

.food {
    padding-right: 40px;
}

.contact {
    padding-right: 40px;
}





/* Main Hero Wrapper and Heading Styles ---------------- */

.main_header {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 32vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header_title {
    align-self: center;
    font-family: "Cambay";
    font-size: 8em;
    font-weight: 800;
    letter-spacing: -5px;
    color: #fff;
    text-shadow: -2px 2px 2px #000;
    width: 40vw;
    text-align: center;
    line-height: 35px;
    animation-delay: .7s;
}

.header_title::after {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #e26f6f;
    z-index: -1;
}

.header_description {
    font-family: "Cambay";
    font-weight: 700;
    color: #fff;
    font-size: 1.275em;
    text-align: center;
    line-height: 1.5em;
    letter-spacing: 2.275px;
    text-shadow: -2px 2px 2px #555;
    margin-top: 3.5em;
    animation-delay: .5s;
}

.button_wrapper {
    display: flex;
    justify-content: center;
}

.button {
    margin-top: 25px;
    color: #fff;
    border: 1px solid #fff;
    line-height: 1px;
    font-size: 16px;
    text-decoration: none;
    padding: 28px 40px 25px;
    transition: .3s;
    text-align: center;
    border-radius: 3px;
}

.button:hover {
    color: #fff;
    background-color: #e26f6f;
    border: 1px solid #e26f6f;
}







/* section one styles ---------------- */

.section_one-wrapper {
    background-color: #fff;
    margin: 3% 17%;
    margin-bottom: 7%;
}

.article_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.article_post {
    display: inline-block;
    width: 400px;
    height: 400px;
    margin-bottom: -140px;
    text-align: center;
    background-color: #299fb3;
    margin: 8px 8px;
    box-shadow: -2px 2px 40px 0 rgba(0, 0, 0, 0.18);
    border-radius: 3px;
    transition: .2s ease-in-out;
}

.article_post:hover {
    transform: scale(1.02);
    transition: .2s ease-in-out;
}


.article_post:first-child {
    background: url('../../images/post-image1.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.article_post:nth-child(2) {
    background: url('../../images/post-image2.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.article_post:nth-child(3) {
    background: url('../../images/post-image3.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.article_post:nth-child(4) {
    background: url('../../images/post-image4.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.article_post:nth-child(5) {
    background: url('../../images/post-image5.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.article_post:nth-child(6) {
    background: url('../../images/post-image6.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.article_post:nth-child(7) {
    background: url('../../images/post-image7.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.article_post:nth-child(8) {
    background: url('../../images/post-image8.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.article_post:nth-child(9) {
    background: url('../../images/post-image9.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.article_post:nth-child(10) {
    background: url('../../images/post-image10.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.article_post:nth-child(11) {
    background: url('../../images/post-image11.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.article_post:last-child {
    background: url('../../images/post-image12.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.post_overlay {
    height: fit-content;
    display: none;
    position: absolute;
    bottom: 0;
    background: -webkit-linear-gradient(top, rgba(72, 76, 97, 0) 0%, rgba(72, 76, 97, 0.9) 75%);
    background: linear-gradient(to bottom, rgba(72, 76, 97, 0) 0%, rgba(72, 76, 97, 0.9) 75%);
}

.post_overlay-content {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post_heading {
    align-self: center;
    margin-bottom: 7px;
    font-size: 1.25em;
}

.post_description {
    font-size: 15px;
    text-align: left;
    margin-bottom: 20px;
}

.article_post:hover .post_overlay {
    display: flex;
    align-items: center;
    padding: 12% 10%;
}

.overlay_button {
    color: #fff;
    border: 1px solid #fff;
    line-height: 1em;
    font-size: 13px;
    text-decoration: none;
    padding: 12px 100px 7px;
    transition: .3s;
}

.overlay_button:hover {
    color: #000;
    background-color: #fff;
}



/* Section Two Styles  ---------------- */

.section_two-wrapper {
    margin-bottom: 7%;
}

.video_content-wrapper {
    height: 650px;
    display: flex;
    border-bottom: 20px solid #e26f6f;
}

.video {
    height: 650px;
}

.video_overlay {
    height: 650px;
    width: 1155.550px;
    position: absolute;
    background: -webkit-radial-gradient(50% 55%, ellipse closest-corner, rgba(75, 101, 121, 0.42) 1%, rgba(0, 17, 39, 0.6) 100%);
}

.video_link-wrapper {
    height: 650px;
    width: 1155.550px;
    position: absolute;
}

.video_link {
    font-family: "Cambay";
    font-weight: 800;
    letter-spacing: 1px;
    color: #fff;
    font-size: 3em;
    text-shadow: -2px 2px 1px #777;
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}


.content_right {
    background-color: #2d3240;
    padding: 95px 100px;
}

.content_paragraph {
    font-size: 1em;
    opacity: 0.7;
    width: 57%;
    margin-bottom: 40px;
}

.content_heading {
    margin-bottom: 30px;
}

.content_logo {
    height: 125px;
    width: 125px;
    border-radius: 6px;
    filter: drop-shadow(-1px 1px 1px #777);
    margin-bottom: 40px;
}

.content_button {
    color: #fff;
    width: 100%;
    border: 1px solid #fff;
    line-height: 1em;
    font-size: 13px;
    text-decoration: none;
    padding: 12px 50px 7px;
    transition: .3s;
    border-radius: 5px;
}

.content_button:hover {
    color: #000;
    background-color: #fff;
}







/* Section Three Styles  ---------------- */

.section_three-wrapper {
    background-color: #00a8b3;
    display: flex;
    justify-content: center;
    padding: 4% 25%;
    margin-top: 40px;
}

.fun_fact-wrapper {
    text-align: center;
}

.fun_fact-wrapper:nth-child(2) {
    padding: 0px 12%;
}


.fun_fact-heading {
    font-size: 3em;
    letter-spacing: 1.2px;
    line-height: 1.2;
}

.fun_fact-subtext {
    text-align: center;
}






/* Footer and Social Icon Styles  ---------------- */

.main_footer {
    position: relative;
    width: 100%;
    background-color: #2d3240;
    color: #fff;
    padding: 2% 0;
}

.footer_nav {
    display: flex;
    justify-content: center;
    text-align: center;
}

.footer_nav--list {
    list-style: none;
}

.footer_nav--item {
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.footer_icon--list {
    display: flex;
    justify-content: center;
}

.footer_icon {
    margin-top: 10px;
    color: #299fb3;
    font-size: 1.5em;
}

.fa-instagram {
    padding: 0 7px;
}

.copyright {
    text-align: center;
    font-size: 75%;
    opacity: 0.7;
}