@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
@import url('https://fonts.googleapis.com/css?family=Cambay:400,700');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400i');

/* Universal and Body Styles ------------------------------------------------  */

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    ;
}

body {
    font-family: "Cambay", sans-serif;
    color: #fff;
    height: 100%;
    width: 100%;
}

/* Hero Image Styles ------------------------------------------------  */

.background-image {
    background: url(../../images/hero-image.jpg);
    /* height: 750px; */
    height: 65vh;
    width: 100%;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Section Divider Tags Styles ------------------------------------------------  */

.section_title {
    text-align: center;
    color: #f97c80;
    font-weight: 700;
    margin-bottom: 15px;
}

.section_title::after {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    display: block;
    height: 3px;
    width: 1.5%;
    background-color: #f97c80;
}

.section_subtext {
    font-family: "Crimson text";
    font-size: 1.2em;
    line-height: 1.4;
    color: #555;
    text-align: center;
    margin-bottom: 2%;
}

/* Nav and logo wrapper styles ------------------------------------------------ */

.main_nav {
    position: fixed;
    top: 0;
    color: #fff;
    height: 90px;
    width: 100%;
    background-color: transparent;
    z-index: 2000;
    transition: .35s;
}

.main_nav.blue {
    background-color: rgba(35, 40, 55, 0.95);
    height: 90px;
}

.logo_wrapper {
    height: 90px;
    margin-left: 10%;
    display: flex;
}

.logo_image {
    height: 39px;
    width: 39px;
    border-radius: 100%;
    align-self: center;
    margin-right: 15px;
    filter: drop-shadow(-1px 1px 1px #777);
}

.logo_text {
    font-weight: 400;
    display: inline;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 1.25px;
    line-height: 1.5;
    align-self: center;
    text-shadow: -2px 2px 1px #777;
    transition: .3s;
}

.nav_list-wrapper {
    position: fixed;
    height: 90px;
    width: 100%;
    top: 0;
    right: 0;
    margin-right: 10%;
}

.main_nav-list {
    height: 90px;
    display: flex;
    align-items: center;
    float: right;
    font-size: .95em;
}

.main_nav-list li {
    align-items: center;
    list-style-type: none;
}

.nav_list-item {
    font-size: 1em;
    letter-spacing: 1px;
    color: #fff;
    text-decoration: none;
    text-shadow: -2px 2px 2px #777;
    transition: .3s
}

.explore {
    padding-right: 40px;
}

.food {
    padding-right: 40px;
}

.contact {
    padding-right: 40px;
}

@media only screen and (max-width: 1100px) {
    .main_nav {
        display: none;
    }
}

/* Main Hero Wrapper and Heading Styles ------------------------------------------------  */

.main_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 32vh;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 65vh;
    width: 60%;
}

.header_title {
    align-self: center;
    font-family: "Cambay";
    font-size: 8em;
    font-weight: 800;
    letter-spacing: -5px;
    color: #fff;
    text-shadow: -2px 2px 2px #000;
    width: 60%;
    text-align: center;
    line-height: 35px;
    animation-delay: .7s;
}

.header_title::after {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #e26f6f;
    z-index: -1;
}

.header_description {
    font-family: "Cambay";
    font-weight: 700;
    color: #fff;
    font-size: 1.275em;
    text-align: center;
    line-height: 1.5em;
    letter-spacing: 2.275px;
    text-shadow: -2px 2px 2px #555;
    margin-top: 3.5em;
    animation-delay: .5s;
}

.button_wrapper {
    display: flex;
    justify-content: center;
}

.button {
    margin-top: 2em;
    color: #fff;
    border: 1px solid #fff;
    line-height: 1px;
    font-size: 16px;
    text-decoration: none;
    padding: 28px 40px 25px;
    transition: .3s;
    text-align: center;
    border-radius: 3px;
}

.button:hover {
    color: #fff;
    background-color: #e26f6f;
    border: 1px solid #e26f6f;
}

@media only screen and (max-width: 950px) {
    .header_title {
        font-size: 6em;
    }

    .header_description {
        font-size: 1em;
    }
}

@media only screen and (max-width: 640px) {
    .header_title {
        font-size: 4em;
    }

    .header_title::after {
        display: none;
    }

    .header_description {
        font-size: .9em;
    }
}

@media only screen and (max-width: 425px) {

    .header_title {
        font-size: 3.75em;
    }

    .header_description {
        font-size: .85em;
    }
}

@media only screen and (max-width: 370px) {

    .header_title {
        font-size: 3.4em;
    }

    .header_description {
        font-size: .80em;
    }
}

/* section one styles ------------------------------------------------ */

.section_one-wrapper {
    background-color: #fff;
    margin: 3% 17%;
    margin-bottom: 7%;
}

.article_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.article_post {
    display: inline-block;
    width: 400px;
    height: 400px;
    margin-bottom: -140px;
    text-align: center;
    background-color: #299fb3;
    margin: 0.500em 0.500em;
    box-shadow: -2px 2px 40px 0 rgba(0, 0, 0, 0.18);
    border-radius: 3px;
    transition: .2s ease-in-out;
}

.article_post:hover {
    transform: scale(1.02);
    transition: .2s ease-in-out;
}


.article_post:first-child {
    background: url('../../images/post-image1.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.article_post:nth-child(2) {
    background: url('../../images/post-image2.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.article_post:nth-child(3) {
    background: url('../../images/post-image3.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.article_post:nth-child(4) {
    background: url('../../images/post-image4.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.article_post:nth-child(5) {
    background: url('../../images/post-image5.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.article_post:nth-child(6) {
    background: url('../../images/post-image6.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.article_post:nth-child(7) {
    background: url('../../images/post-image7.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.article_post:nth-child(8) {
    background: url('../../images/post-image8.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.article_post:nth-child(9) {
    background: url('../../images/post-image9.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.article_post:nth-child(10) {
    background: url('../../images/post-image10.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.article_post:nth-child(11) {
    background: url('../../images/post-image11.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.article_post:last-child {
    background: url('../../images/post-image12.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.post_overlay {
    height: fit-content;
    display: none;
    position: absolute;
    bottom: 0;
    background: -webkit-linear-gradient(top, rgba(72, 76, 97, 0) 0%, rgba(72, 76, 97, 0.9) 75%);
    background: linear-gradient(to bottom, rgba(72, 76, 97, 0) 0%, rgba(72, 76, 97, 0.9) 75%);
}

.post_overlay-content {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post_heading {
    align-self: center;
    margin-bottom: 0.438em;
    font-size: 1.25em;
}

.post_description {
    font-size: 15px;
    text-align: left;
    margin-bottom: 20px;
}

.article_post:hover .post_overlay {
    display: flex;
    align-items: center;
    padding: 12% 10%;
}

.overlay_button {
    color: #fff;
    border: 1px solid #fff;
    line-height: 1em;
    font-size: 13px;
    text-decoration: none;
    padding: 12px 100px 7px;
    transition: .3s;
}

.overlay_button:hover {
    color: #000;
    background-color: #fff;
}

@media only screen and (max-width: 2222px) {
    .section_one-wrapper {
        margin: 3% 10%;
    }
}

@media only screen and (max-width: 1900px) {
    .section_one-wrapper {
        margin: 3% 5%;
    }
}


@media only screen and (max-width: 1586px) {
    .section_one-wrapper {
        margin: 3% 3%;
    }
}


@media only screen and (max-width: 1460px) {
    .section_one-wrapper {
        margin: 5% 3%;
    }
}

@media only screen and (max-width: 1400px) {
    .section_one-wrapper {
        margin: 5% 2%;
    }
}

/* Section Two and Video Styles  ------------------------------------------------  */

.section_two-wrapper {
    margin-bottom: 7%;
}

.video_content-wrapper {
    height: 650px;
    display: flex;
    border-bottom: 20px solid #e26f6f;
}

.video {
    height: 650px;
}

.video_overlay {
    height: 650px;
    width: 1155.550px;
    position: absolute;
    background: -webkit-radial-gradient(50% 55%, ellipse closest-corner, rgba(75, 101, 121, 0.42) 1%, rgba(0, 17, 39, 0.6) 100%);
}

.video_link-wrapper {
    height: 650px;
    width: 1155.550px;
    position: absolute;
}

.video_link {
    font-family: "Cambay";
    font-weight: 800;
    letter-spacing: 1px;
    color: #fff;
    font-size: 3em;
    text-shadow: -2px 2px 1px #777;
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}

@media only screen and (max-width: 1900px) {
    .video_content-wrapper {
        height: 534.347px;
        display: flex;
        border-bottom: 20px solid #e26f6f;
    }

    .video {
        width: 950px;
        height: auto;
    }

    .video_overlay {
        height: 534.347px;
        width: 950px;
    }

    .video_link-wrapper {
        height: 534.347px !important;
        width: 950px;
        position: absolute;
    }

    .video_link-wrapper {
        height: 650px;
        width: 950px;
        position: absolute;
    }
}

@media only screen and (max-width: 1472px) {
    .video_content-wrapper {
        height: 393.750px;
        display: flex;
        border-bottom: 20px solid #e26f6f;
    }

    .video {
        width: 700px;
        height: auto;
    }

    .video_overlay {
        height: 393.750px;
        width: 700px;
    }

    .video_link-wrapper {
        height: 393.750px !important;
        width: 700px;
        position: absolute;
    }

    .video_link {
        font-size: 2em;
    }
}

@media only screen and (max-width: 1200px) {

    .section_two-wrapper {
        margin-bottom: 7%;
    }

    .video_content-wrapper {
        height: 675px;
        display: flex;
        flex-direction: column;
        border: none;
    }

    .video {
        height: 675px;
        width: 100%;
    }

    .video_overlay {
        display: none;
    }

    .video_link-wrapper {
        height: 675px !important;
        width: 100%;
    }

    .video_link {
        font-size: 3em;
    }
}

@media only screen and (max-width: 1100px) {
    .video_content-wrapper {
        height: 25px;
    }

    .video {
        display: none;
    }

    .video_link-wrapper {
        display: none;
    }

    .video_link {
        display: none;
    }

    .connected_labels {
        display: none;
    }
}

/* content in video section Styles  ------------------------------------------------  */

.content_right {
    background-color: #2d3240;
    padding: 95px 100px;
}

.content_paragraph {
    font-size: 1em;
    opacity: 0.7;
    width: 57%;
    margin-bottom: 2.500em;
}

.content_heading {
    margin-bottom: 2em;
}

.content_logo {
    height: 125px;
    width: 125px;
    border-radius: 6px;
    filter: drop-shadow(-1px 1px 1px #777);
    margin-bottom: 2.500em;
}

.content_button {
    color: #fff;
    width: 100%;
    border: 1px solid #fff;
    line-height: 1em;
    font-size: 13px;
    text-decoration: none;
    padding: 12px 50px 7px;
    transition: .3s;
    border-radius: 5px;
}

.content_button:hover {
    color: #000;
    background-color: #fff;
}


@media only screen and (max-width: 1900px) {
    .content_right {
        padding: 35px 60px;
    }

    .content_right {
        background-color: #2d3240;
        padding: 65px 60px;
    }

    .content_logo {
        display: none;
    }
}

@media only screen and (max-width: 1586px) {
    .content_paragraph {
        width: 77%;
    }
}

@media only screen and (max-width: 1472px) {
    .content_right {
        background-color: #2d3240;
        padding: 35px 60px;
    }
}

@media only screen and (max-width: 1300px) {
    .content_paragraph {
        width: 98%;
        margin-bottom: 0.938em;
    }
}

@media only screen and (max-width: 1200px) {
    .content_right {
        padding: 95px 100px;
        height: 200px;
        border-bottom: none;
        margin-top: 2%;
    }

    .content_button {
        display: none;
    }
}

@media only screen and (max-width: 1100px) {
    .content_right {
        padding: 95px 100px;
        height: 200px;
        border-bottom: none;
        background-color: #00a8b3;
    }

    .content_button {
        display: inline;
    }
}

@media only screen and (max-width: 525px) {
    .content_right {
        display: none;
    }
}

/* Section Three Styles  ------------------------------------------------  */

.section_three-wrapper {
    background-color: #00a8b3;
    display: flex;
    justify-content: center;
    padding: 4% 25%;
    margin-top: 40px;
}

.fun_fact-wrapper {
    text-align: center;
}

.fun_fact-wrapper:nth-child(2) {
    padding: 0px 16%;
}


.fun_fact-heading {
    font-size: 3em;
    letter-spacing: 1.2px;
    line-height: 1.2;
}

.fun_fact-subtext {
    text-align: center;
}

@media only screen and (max-width: 2034px) {
    .fun_fact-heading {
        font-size: 2em;
    }

    .fun_fact-subtext {
        font-size: 1em;
    }
}

@media only screen and (max-width: 1472px) {
    .section_three-wrapper {
        display: none;
    }

    .fun_fact-labels {
        display: none;
    }
}


/* Footer and Social Icon Styles  ------------------------------------------------ */

.main_footer {
    position: relative;
    width: 100%;
    background-color: #2d3240;
    color: #fff;
    padding: 2% 0;
}

.footer_nav {
    display: flex;
    justify-content: center;
    text-align: center;
}

.footer_nav--list {
    list-style: none;
}

.footer_nav--item {
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.footer_icon--list {
    display: flex;
    justify-content: center;
}

.footer_icon {
    margin-top: 10px;
    color: #299fb3;
    font-size: 1.5em;
}

.fa-instagram {
    padding: 0 7px;
}

.copyright {
    text-align: center;
    font-size: 75%;
    opacity: 0.7;
}

@media only screen and (max-width: 1100px) {
    #footer {
        display: none;
    }
}