@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
@import url('https://fonts.googleapis.com/css?family=Cambay:400,700');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400i');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* Universal and Body Styles ------------------------------------------------  */

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    ;
}

body {
    font-family: "Cambay", sans-serif;
    color: #fff;
    height: 100%;
    width: 100%;
}

/* backsplash Styles ------------------------------------------------  */

.background-image {
    height: 100vh;
    width: 100%;
    background: url(../assets/images/destinations/mtfuji.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.filler {
    height: 2000px;
}

/* Nav and logo wrapper styles ------------------------------------------------ */

.main_nav {
    position: fixed;
    top: 0;
    color: #fff;
    height: 100px;
    width: 100%;
    z-index: 999;
    transition: .35s;
}

.main_nav.blue {
    background-color: rgba(35, 40, 55, 0.95);
    height: 100px;
}

.logo_wrapper {
    height: 100px;
    margin-left: 14%;
    display: flex;
}

.logo_image {
    height: 2.5em;
    width: 2.5em;
    border-radius: 5px;
    align-self: center;
    margin-right: 15px;
    filter: drop-shadow(-1px 1px 1px #000);
    z-index: 999;
}

.logo_text {
    color: #fff;
    font-family: 'Quicksand';
    font-weight: 700;
    display: inline;
    font-size: 1.5em;
    letter-spacing: 1.25px;
    align-self: center;
    text-shadow: -2px 2px 1px #000;
    z-index: 999;
    text-decoration: none;
    transition: .3s;
}

.nav_list-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    height: 100px;
    width: 100%;
    margin-right: 14%;
}

.nav_list {
    display: flex;
    align-items: center;
    float: right;
    height: 100px;
    font-size: .95em;
}

.nav_list-items{
    align-items: center;
    list-style-type: none;
}

.nav_list-items:first-child {
    padding-right: 40px;
}

.nav_list-items:nth-child(2) {
    padding-right: 40px;
}

.nav_list-items:nth-child(3) {
    padding-right: 40px;
}

.list_item-link {
    font-family: "Montserrat";
    font-size: 1.15em;
    color: #fff;
    text-decoration: none;
    text-shadow: -2px 2px 0px #000;
}

.fade {
    opacity: .75;
}

.fade:hover {
    opacity: 1;
    transition: .3s;
}

#nav:checked ~ .nav_list-wrapper .nav_list .nav_list-items .list_item-link {
    opacity: 1;
    display: block;
}

#nav:checked + .nav_button i {
    background: #fff;
    transition: transform 0.2s ease;
    box-shadow: none;
}

#nav:checked + .nav_button i:nth-child(1) {
    transform: translateY(14px) rotate(90deg);
}

#nav:checked + .nav_button i:nth-child(2) {
    opacity: 0;
}

#nav:checked + .nav_button i:nth-child(3) {
    transform:rotate(180deg);
}

.hidden {
    display: none;
}


@media only screen and (max-width: 950px) {
    .nav_list-wrapper {
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.3s ease;
        z-index: -1;
    }

    .nav_list {
        display: none;
        display: flex;
        flex-direction: column;  
        height: 100vh;
        width: 100%;
    }

    .nav_list-items:first-child {
        margin-top: 25%;
        padding-right: 0px;
    }
    
    .nav_list-items:nth-child(2) {
        margin-top: 10%;
        padding-right: 0px;
    }

    .nav_list-items:nth-child(3) {
        margin-top: 10%;
        padding-right: 0px;
    }

    .nav_list-items:nth-child(4) {
        margin-top: 10%;
    }

    .list_item-link {
        display: none;
        font-size: 1.8em;
        opacity: 0;
    }

    .nav_button {
        position: fixed;
        right: 0;
        top: 2.3em;
        display:inline-block;
        width: fit-content;
        height: fit-content;
        cursor: pointer;
        margin-right: 14%;
        z-index: 9999;
        border-radius: 50%;
    }

    .nav_button i {
        display: block;
        width: 26px;
        height: 3px;
        background: #fff;
        box-shadow: -2px 2px 1px #000;
        border-radius: 2px;
        margin-left: 14px;
    }

    .nav_button i:nth-child(2) {
        margin-top: 4px;
    }

    .nav_button i:nth-child(3) {
        margin-top: 4px;
    }

    #nav:checked ~ .nav_list-wrapper {
        height: 100vh;
        background-color: rgba(35, 40, 55, 0.98);
    }
}

@media only screen and (max-width: 950px) {
   .logo_image {
       display: none;
   }

   .logo_text {
       font-size: 1.7em
   }
}

@media only screen and (max-width: 570px) {
   .logo_text {
       z-index: -999;
   }
   
    .nav_list-items:first-child {
        margin-top: 45%;
        padding-right: 0px;
    }
}
/* Main Hero Wrapper and Heading Styles ---------------- */

.main_header {
    width: 85%;
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header_title {
    font-family: "Cambay";
    font-size: 6em;
    font-weight: 600;
    letter-spacing: .5px;
    color: #fff;
    width: 85vw;
    text-align: center;
    text-shadow: -2px 2px 2px #000;
    line-height: 35px;
    animation-delay: .4s;
}
        
.section_labels {
    margin-top: 30vh;
}

.section_title {
    text-align: center;
    color: #f97c80;
    font-weight: 700;
    margin-bottom: 15px;
}

.section_title::after {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    display: block;
    height: 3px;
    width: 1.5%;
    background-color: #f97c80;
}

.section_subtext {
    font-family: "Crimson text";
    font-size: 1.2em;
    line-height: 1.4;
    color: #555;
    text-align: center;
    margin-bottom: 2%;
}

/* Destination Section Styles  ---------------- */




/* Section Three Styles  ---------------- */

.contact_section-wrapper {
    color: #fff;
    background-color: #00a8b3;
    display: flex;
    justify-content: center;
    padding: 4% 25%;
    margin-top: 40px;
}

.contact_wrapper {
    text-align: center;
}

.contact_wrapper:nth-child(2) {
    padding: 0px 12%;
}


.contact_heading {
    font-size: 3em;
    letter-spacing: 1.2px;
    line-height: 1.2;
}

.contact_subtext {
    text-align: center;
}


@media only screen and (max-width: 1340px) {
    .contact_heading {
        font-size: 2em;
    }
 }

 @media only screen and (max-width: 915px) {
    .contact_heading {
        font-size: 1.3em;
    }
 }

 @media only screen and (max-width: 600px) {
    .contact_section-wrapper {
        margin-top: 0;
        padding: 7% 25%;
    }
 }

 @media only screen and (max-width: 320px) {
    .contact_heading {
        font-size: 1em;
    }

    .contact_subtext {
        font-size: .9em;
        text-align: center;
    }
 }

/* Footer and Social Icon Styles  ---------------- */

.main_footer {
    position: relative;
    width: 100%;
    background-color: #2d3240;
    color: #fff;
    padding: 2% 0;
}

.footer_nav {
    display: flex;
    justify-content: center;
    text-align: center;
}

.footer_nav--list {
    list-style: none;
}

.footer_nav--item {
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.footer_icon--list {
    display: flex;
    justify-content: center;
}

.footer_icon {
    margin-top: 10px;
    color: #299fb3;
    font-size: 1.5em;
}

.fa-instagram {
    padding: 0 7px;
}

.copyright {
    text-align: center;
    font-size: 75%;
}

@media only screen and (max-width: 600px) {
    .main_footer {
        padding: 5% 2%;
    }
 }