@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
@import url('https://fonts.googleapis.com/css?family=Cambay:400,700');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400i');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* Universal and Body Styles ------------------------------------------------  */

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    ;
}

body {
    font-family: "Cambay", sans-serif;
    color: #fff;
    height: 100%;
    width: 100%;
}





/* background image Styles ------------------------------------------------  */

.background-image {
    height: 65vh;
    width: 100%;
    background: url(../images/heros/discover-hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.background-image::before {
    content: '';
    display: block;
    background-color: #000;
    height: 65vh;
    opacity: 0.1;
    width: 100%;
    z-index: 1;
}






/* Nav and logo wrapper styles ------------------------------------------------ */

.main_nav {
    position: fixed;
    top: 0;
    color: #fff;
    height: 100px;
    width: 100%;
    z-index: 999;
    transition: .35s;
}

.main_nav.blue {
    background-color: rgba(35, 40, 55, 0.95);
    height: 100px;
}

.logo_wrapper {
    height: 100px;
    margin-left: 14%;
    display: flex;
}

.logo_image {
    height: 2.5em;
    width: 2.5em;
    border-radius: 5px;
    align-self: center;
    margin-right: 15px;
    filter: drop-shadow(-1px 1px 1px #000);
    z-index: 999;
}

.logo_text {
    color: #fff;
    font-family: 'Quicksand';
    font-weight: 700;
    display: inline;
    font-size: 1.5em;
    letter-spacing: 1.25px;
    align-self: center;
    text-shadow: -2px 2px 1px #000;
    z-index: 999;
    text-decoration: none;
    transition: .3s;
}

.nav_list-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    height: 100px;
    width: 100%;
    margin-right: 14%;
}

.nav_list {
    display: flex;
    align-items: center;
    float: right;
    height: 100px;
    font-size: .95em;
}

.nav_list-items{
    align-items: center;
    list-style-type: none;
}

.nav_list-items:first-child {
    padding-right: 40px;
}

.nav_list-items:nth-child(2) {
    padding-right: 40px;
}

.nav_list-items:nth-child(3) {
    padding-right: 40px;
}

.list_item-link {
    font-family: "Montserrat";
    font-size: 1.15em;
    color: #fff;
    text-decoration: none;
    text-shadow: -2px 2px 0px #000;
}

.fade {
    opacity: .75;
}

.fade:hover {
    opacity: 1;
    transition: .3s;
}

#nav:checked ~ .nav_list-wrapper .nav_list .nav_list-items .list_item-link {
    opacity: 1;
    display: block;
}

#nav:checked + .nav_button i {
    background: #fff;
    transition: transform 0.2s ease;
    box-shadow: none;
}

#nav:checked + .nav_button i:nth-child(1) {
    transform: translateY(14px) rotate(90deg);
}

#nav:checked + .nav_button i:nth-child(2) {
    opacity: 0;
}

#nav:checked + .nav_button i:nth-child(3) {
    transform:rotate(180deg);
}

.hidden {
    display: none;
}


@media only screen and (max-width: 950px) {
    .nav_list-wrapper {
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.3s ease;
        z-index: -1;
    }

    .nav_list {
        display: none;
        display: flex;
        flex-direction: column;  
        height: 100vh;
        width: 100%;
    }

    .nav_list-items:first-child {
        margin-top: 25%;
        padding-right: 0px;
    }
    
    .nav_list-items:nth-child(2) {
        margin-top: 10%;
        padding-right: 0px;
    }

    .nav_list-items:nth-child(3) {
        margin-top: 10%;
        padding-right: 0px;
    }

    .nav_list-items:nth-child(4) {
        margin-top: 10%;
    }

    .list_item-link {
        display: none;
        font-size: 1.8em;
        opacity: 0;
    }

    .nav_button {
        position: fixed;
        right: 0;
        top: 2.3em;
        display:inline-block;
        width: fit-content;
        height: fit-content;
        cursor: pointer;
        margin-right: 14%;
        z-index: 9999;
        border-radius: 50%;
    }

    .nav_button i {
        display: block;
        width: 26px;
        height: 3px;
        background: #fff;
        box-shadow: -2px 2px 1px #000;
        border-radius: 2px;
        margin-left: 14px;
    }

    .nav_button i:nth-child(2) {
        margin-top: 4px;
    }

    .nav_button i:nth-child(3) {
        margin-top: 4px;
    }

    #nav:checked ~ .nav_list-wrapper {
        height: 100vh;
        background-color: rgba(35, 40, 55, 0.98);
    }
}

@media only screen and (max-width: 950px) {
   .logo_image {
       display: none;
   }

   .logo_text {
       font-size: 1.7em
   }
}

@media only screen and (max-width: 570px) {
   .logo_text {
       z-index: -999;
   }
   
    .nav_list-items:first-child {
        margin-top: 45%;
        padding-right: 0px;
    }
}



















/* Main Hero Wrapper and Heading Styles ---------------- */

.main_header {
    width: 85%;
    position: absolute;
    top: 32.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header_title {
    font-family: "Cambay";
    font-size: 6em;
    font-weight: 600;
    letter-spacing: .5px;
    color: #fff;
    width: 85vw;
    text-align: center;
    text-shadow: -2px 2px 2px #000;
    line-height: 35px;
    animation-delay: .4s;
}








/* Section labels and universal section styles ---------------- */
        
.section_title {
    text-align: center;
    color: #f97c80;
    font-weight: 700;
    margin-bottom: 15px;
}

.section_title::after {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    display: block;
    height: 3px;
    width: 1.5%;
    background-color: #f97c80;
}

.section_subtext {
    font-family: "Crimson text";
    font-size: 1.2em;
    line-height: 1.4;
    color: #555;
    text-align: center;
    margin-bottom: 2%;
}


.content_wrapper {
    display: flex;
    justify-content: center;
    height: inherit;
 }


 .post_title {
    align-self: center;
    text-align: center;
}


.post_link {
    color: #fff;
    text-decoration: none;
}




/* Destination Section Styles  ---------------- */

.destination_section {
    background-color: #fff;
    margin: 3% 25%;
}

.destination_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
}

.destination_post {
    height: 292px;
    width: inherit;
    margin: 0.500em;
    box-shadow: -2px 2px 40px 0 rgba(0, 0, 0, 0.18);
    border-radius: 3px;
    transition: .2s ease-in-out;
}

.destination_post:hover {
    transform: scale(1.02);
    transition: .2s ease-in-out;
}

.main_destination-link {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    height: 600px;
    width: inherit;
    color: #fff;
    text-decoration: none;
    text-shadow: -2px 2px 2px #000;
}

.destination_title {
    font-size: 1.8em;
    text-shadow: -2px 2px 2px #111;
}

.destination_one {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    height: 600px;
    width: inherit;
    margin-right: 0.500em;
    background: url(../images/destinations/destination.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.destination_two {
    background: url(../images/destinations/destination2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.destination_three {
    background: url(../images/destinations/destination3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.destination_four {
    background: url(../images/destinations/destination4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.destination_five {
    background: url(../images/destinations/destination5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.destination_six {
    background: url(../images/destinations/destination6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.destination_seven {
    background: url(../images/destinations/destination7.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




/* Activities Section Styles  ---------------- */

.activities_section {
    background-color: #fff;
    margin: 7% 25% 7%;
}

.activities_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
}

.main_activity-link {
    grid-column: 3 / 6;
    grid-row: 1 / 3;
    height: 600px;
    width: inherit;
    color: #fff;
    text-decoration: none;
    text-shadow: -2px 2px 2px #000;
}

.activities_post {
    height: 315px;
    width: inherit;
    margin: 0.500em;
    box-shadow: -2px 2px 40px 0 rgba(0, 0, 0, 0.18);
    border-radius: 3px;
    transition: .2s ease-in-out;
}

.activities_post:hover {
    transform: scale(1.02);
    transition: .2s ease-in-out;
}

.activity_one {
    grid-column: 3 / 6;
    grid-row: 1 / 3;
    height: 650px;
    width: inherit;
    margin-right: 0.500em;
    background: url(../images/activities/activity.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.activity_two {
    background: url(../images/activities/activity2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.activity_three {
    background: url(../images/activities/activity3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.activity_four {
    background: url(../images/activities/activity4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.activity_five {
    background: url(../images/activities/activity5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Divider section Styles  ---------------- */

.divider_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 550px;
    width: 100%;
    background: url(../images/divider/things.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-bottom: 20px solid #e26f6f;
    margin-bottom: 5.25%;
}

.divider_content {
    text-align: center;
}

.divider_title {
    font-size: 3em;
    margin-bottom: 20px;
}

.divider_button {
    color: #fff;
    font-size: 1em;
    line-height: 1em;
    text-decoration: none;
    border: 1px solid #fff;
    width: 100%;
    padding: 12px 50px 7px;
    transition: .3s;
    border-radius: 5px;
}

.divider_button:hover {
    background-color: #e26f6f;
    border: 1px solid #e26f6f;
}

/* Resturants section Styles  ---------------- */

.restaurants_section {
    background-color: #fff;
    margin: 7% 25% 10%;
}

.restaurants_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
}

.main_restaurant-link {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    height: 600px;
    width: inherit;
    color: #fff;
    text-decoration: none;
    text-shadow: -2px 2px 2px #000;
}

.restaurants_post {
    height: 315px;
    width: inherit;
    margin: 0.500em;
    box-shadow: -2px 2px 40px 0 rgba(0, 0, 0, 0.18);
    border-radius: 3px;
    transition: .2s ease-in-out;
}


.restaurants_post:hover {
    transform: scale(1.02);
    transition: .2s ease-in-out;
}

.restaurant_title {
    font-size: 1.8em;
    text-shadow: -2px 2px 2px #111;
}

.restaurant-one {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    height: 650px;
    width: inherit;
    margin-right: 0.500em;
    background: url(../images/restaurants/restaurant.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.restaurant-two {
    background: url(../images/restaurants/restaurant2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.restaurant-three {
    background: url(../images/restaurants/restaurant3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.restaurant-four {
    background: url(../images/restaurants/restaurant4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.restaurant-five {
    background: url(../images/restaurants/restaurant5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* NightLife section Styles  ---------------- */

.nightlife_section {
    background-color: #fff;
    margin: 7% 25% 10%;
}

.nightlife_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
}

.nightlife_post {
    height: 315px;
    width: inherit;
    margin: 0.500em;
    box-shadow: -2px 2px 40px 0 rgba(0, 0, 0, 0.18);
    border-radius: 3px;
    transition: .2s ease-in-out;
}

.nightlife_post:hover {
    transform: scale(1.02);
    transition: .2s ease-in-out;
}

.nightlife-one {
    grid-column: 3 / 6;
    grid-row: 1 / 3;
    height: 650px;
    width: inherit;
    margin-right: 0.500em;
    background: url(../images/restaurants/sushidai.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nightlife-two {
    background: url(../images/restaurants/kawashimatofu.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nightlife-three {
    background: url(../images/restaurants/inua.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nightlife-four {
    background: url(../images/restaurants/kikunoi.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nightlife-five {
    background: url(../images/restaurants/tofuyaukai.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}






/* subscribe section styles ---------------- */

.subscribe_section {
    background: url(../images/mtfuji.jpg);
    height: 35vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
}

/* contact section Styles  ---------------- */

.contact_section-wrapper {
    color: #fff;
    background-color: #00a8b3;
    display: flex;
    justify-content: center;
    padding: 4% 25%;
}

.contact_wrapper {
    text-align: center;
}

.contact_wrapper:nth-child(2) {
    padding: 0px 12%;
}


.contact_heading {
    font-size: 3em;
    letter-spacing: 1.2px;
    line-height: 1.2;
}

.contact_subtext {
    text-align: center;
}


@media only screen and (max-width: 1340px) {
    .contact_heading {
        font-size: 2em;
    }
 }

 @media only screen and (max-width: 915px) {
    .contact_section-wrapper {
        padding: 5% 25%;
    }
 }

 @media only screen and (max-width: 600px) {
    .contact_section-wrapper {
        margin-top: 0;
        padding: 7% 25%;
    }
 }

 @media only screen and (max-width: 320px) {
    .contact_heading {
        font-size: 1em;
    }

    .contact_subtext {
        font-size: .9em;
        text-align: center;
    }
 }


/* Footer and Social Icon Styles  ---------------- */

.main_footer {
    position: relative;
    width: 100%;
    background-color: #2d3240;
    color: #fff;
    padding: 2% 0;
}

.footer_nav {
    display: flex;
    justify-content: center;
    text-align: center;
}

.footer_nav--list {
    list-style: none;
}

.footer_nav--item {
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.footer_icon--list {
    display: flex;
    justify-content: center;
}

.footer_icon {
    margin-top: 10px;
    color: #299fb3;
    font-size: 1.5em;
}

.fa-instagram {
    padding: 0 7px;
}

.copyright {
    text-align: center;
    font-size: 75%;
}

@media only screen and (max-width: 600px) {
    .main_footer {
        padding: 5% 2%;
    }
 }