@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
@import url('https://fonts.googleapis.com/css?family=Cambay:400,700');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400i');

/* Universal and Body Styles ------------------------------------------------  */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Cambay", sans-serif;
    color: #fff;
    background: #f4f4f4;
    height: 100%;
    width: 100%;
}

/* background image Styles ------------------------------------------------  */

.background-image {
    height: 65vh;
    width: 100%;
    background: url(../images/heros/discover-hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.background-image::before {
    content: '';
    display: block;
    background-color: #000;
    height: 65vh;
    opacity: 0.2;
    width: 100%;
    z-index: 1;
}

@media only screen and (max-width: 1330px) {
    .background-image {
        background-attachment: scroll;
    }
 }

@media only screen and (max-width: 900px) {
    .background-image {
        margin-bottom: 8%;
    }
}

/* Nav and logo wrapper styles ------------------------------------------------ */

.main_nav {
    position: fixed;
    top: 0;
    color: #fff;
    height: 90px;
    width: 100%;
    z-index: 2;
    transition: .5s;
}

.main_nav.blue {
    background-color: rgba(35, 40, 55, 0.95);
    height: 90px;
}

.nav_menu-wrapper {
    display: none;
}

#nav:checked ~ .nav_menu-wrapper .nav_list-wrapper .nav_list {
    display: flex;
    flex-direction: column; 
    height: 100vh;
    width: 100%;
}

#nav:checked ~  .nav_list-wrapper .nav_list .nav_list-items .item_link {
    opacity: 1;
    display: block;
}

#nav:checked + .nav_button i {
    background: #fff;
    transition: transform 0.2s ease;
    box-shadow: none;
}

#nav:checked + .nav_button i:nth-child(1) {
    transform: translateY(14px) rotate(90deg);
}

#nav:checked + .nav_button i:nth-child(2) {
    opacity: 0;
}

#nav:checked + .nav_button i:nth-child(3) {
    transform:rotate(180deg);
}

.hidden {
    display: none;
}

.logo_wrapper {
    height: 90px;
    margin-left: 14%;
    display: flex;
}

.logo_image {
    height: 40px;
    width: 40px;
    border-radius:100%;
    align-self: center;
    margin-right: 10px;
    filter: drop-shadow(-1px 1px 1px #000);
}

.logo_text {
    font-family: 'Quicksand' , sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 1.35em;
    letter-spacing: 1px;
    text-decoration: none;
    text-shadow: -2px 2px 1px #000;
    align-self: center;
    z-index: 2;
    transition: .3s;
}

.nav_list-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    height: 90px;
    width: 100%;
    margin-right: 14%;
}

.nav_list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 90px;
    font-size: .8em;
}

.nav_list-items {
    align-items: center;
    list-style-type: none;
}

.nav_list-items:first-child {
    padding-right: 40px;
}

.nav_list-items:nth-child(2){
    padding-right: 40px;
}


.item_link {
    font-family: 'Cambay', sans-serif;
    font-size: 1.25em;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    text-shadow: -1px 1px 2px #000;
    transition: .6s;
}

.active {
    color: #e34e4e;
}

.item_link:hover {
    color: #e34e4e;
}


#nav:checked ~ .nav_menu-wrapper .nav_list-wrapper .nav_list {
    display: flex;
    flex-direction: column; 
    height: 100vh;
    width: 100%;
}

@media only screen and (max-width: 1440px) and (max-height: 1400px) {
    .nav_list {
        font-size: .75em;
    }
 }

@media only screen and (max-width: 950px) {
    .nav_list-wrapper {
        left: 0;
        transition: all 0.3s ease;
        z-index: -1;
    }

    .nav_list {
        display: block;
        text-align: center;
        font-size: .95em;
    }

    .nav_list-items:first-child {
        margin: 20% 0 10% 0;
        padding-right: 0px;
    }

    .nav_list-items:nth-child(2){
        margin: 0 0 10% 0;
        padding-right: 0px;
    }
    
    .item_link {
        display: none;
        font-size: 1.8em;
        opacity: 0;
    }

    .nav_menu-wrapper {
        display: flex;
        height: 90px;
        width: 100%;
        position: fixed;
        align-items: center;
    }

    .nav_button {
        position: fixed;
        right: 0;
        cursor: pointer;
        margin-right: 14%;
        z-index: 9999;
    }

    .nav_button i {
        display: block;
        width: 26px;
        height: 3px;
        background: #fff;
        box-shadow: -2px 2px 1px #000;
        border-radius: 2px;
    }

    .nav_button i:nth-child(2) {
        margin-top: 4px;
    }

    .nav_button i:nth-child(3) {
        margin-top: 4px;
    }

    #nav:checked ~ .nav_list-wrapper {
        height: 100vh;
        background-color: rgba(35, 40, 55, 0.98);
    }
}

@media only screen and (max-width: 950px) {
   .logo_image {
       display: none;
   }

   .logo_text {
       font-size: 1.7em
   }
}

@media only screen and (max-width: 570px) { 
    .nav_list-items:first-child {
        margin-top: 45%;
        padding-right: 0px;
    }
}

/* Main Hero Wrapper and Heading Styles ---------------- */

.main_header {
    width: 85%;
    position: absolute;
    top: 32.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header_title {
    font-family: "Cambay" , sans-serif;
    font-size: 6em;
    color: #fff;
    text-align: center;
    text-shadow: -2px 2px 2px #000;
    animation-delay: .4s;
}

@media only screen and (max-width: 1440px) and (max-height: 1400px) {
    .header_title {
        font-size: 4em;
    }
}

@media only screen and (max-width: 950px) {
    .header_title {
        font-size: 3em;
    }
}

@media only screen and (max-width: 768px) and (max-height: 1024px) {
    .header_title {
        font-size: 3.25em;
    }

    .header_description {
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 825px) and (max-height: 425px) {
    .header_title {
        font-size: 2.5em;
    }
}


@media only screen and (max-width: 640px) {
    .header_title {
       line-height: 1em;
    }
}

@media only screen and (max-width: 425px) {
    .header_title {
        font-size: 2em;
    }
}

@media only screen and (max-width: 385px) {
    .main_header {
        top: 34%;
    }
}

/* Section labels and universal section styles ---------------- */
        
.section_title {
    text-align: center;
    color: #f97c80;
    font-weight: 700;
    margin-bottom: 15px;
}

.section_title::after {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    display: block;
    height: 3px;
    width: 1.5%;
    background-color: #f97c80;
}

.section_subtext {
    font-family: "Crimson text" , serif;
    font-size: 1.2em;
    line-height: 1.4;
    color: #555;
    text-align: center;
    margin-bottom: 2%;
}


.content_wrapper {
    display: flex;
    justify-content: center;
    height: inherit;
 }

 @media only screen and (max-width: 1440px) and (max-height: 1400px) {
    .section_title {
       font-size: 1em;
    }

    .section_subtext {
        font-size: .9em;
    }
}

 @media only screen and (max-width: 900px) {
    .section_subtext {
        margin-bottom: 8%;
    }
}

/* Destination Section Styles  ---------------- */

.destination_section {
    margin: 3% 17%;
}

.destination_wrapper {
    display: grid;
    grid-template-columns: 600px repeat(3, 1fr);
    grid-template-rows: 304px 304px;
    justify-content: center;
}

.destination_link {
    color: #fff;
    text-decoration: none;
    height: 288px;
    width: inherit;
    min-width: 150px;
    max-width: 500px;
    margin: 0.500em;
    box-shadow: -2px 2px 40px 0 rgba(0, 0, 0, 0.18);
    border-radius: 3px;
    transition: .2s ease-in-out;
}

.destination_link:hover {
    transform: scale(1.03);
    transition: .2s ease-in-out;
}

.destination_title {
    font-size: 1.8em;
    align-self: center;
    text-align: center;
}

.destination_one {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    height: 592px;
    width: inherit;
    min-width: 400px;
    max-width: 1200px;
    margin-right: 0.500em;
    background: url(../images/destinations/destination.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.destination_two {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background: url(../images/destinations/destination2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.destination_three {
    grid-column: 3 / 4;
    background: url(../images/destinations/destination3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.destination_four {
    grid-column: 4 / 5;
    background: url(../images/destinations/destination4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.destination_five {
    grid-column: 4 / 5;
    grid-row: 2 / 4;
    background: url(../images/destinations/destination5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.destination_six {
    background: url(../images/destinations/destination6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.destination_seven {
    background: url(../images/destinations/destination7.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 1760px) {
    .destination_section {
        margin: 3% 10% 10%;
    }
}

@media only screen and (max-width: 1440px) and (max-height: 1400px) {
    .destination_title {
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 1330px) {  
    .destination_wrapper {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr repeat(3, 310px);
    }

    .destination_link {
        max-width: none;
    }

    .destination_one {
        grid-column: 1 / 6;
        grid-row: 1 / 2;
        width: inherit;
        margin-bottom: 1em;
    }   

    .destination_two {
        grid-column: 1 / 3;
        grid-row: 2 / 4;
    }

    .destination_three {
        grid-column: 3 / 5;
        grid-row: 2 / 4;
    }

    .destination_four {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }

    .destination_five {
        grid-column: 3 / 5;
        grid-row: 3 / 5;
    }

    .destination_six {
        grid-column: 1 / 3;
        grid-row: 4 / 5;
    }

    .destination_seven {
        grid-column: 3 / 5;
        grid-row: 4 / 5;
    }

}

@media only screen and (max-width: 900px) {
    .destination_wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 420px);
    }
    
    .destination_one {
        height: 400px;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }   

    .destination_two {
        height: 400px;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .destination_three {
        height: 400px;
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    .destination_four {
        height: 400px;
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }

    .destination_five {
        height: 400px;
        grid-column: 1 / 2;
        grid-row: 5 / 6;
    }

    .destination_six {
        height: 400px;
        grid-column: 1 / 2;
        grid-row: 6 / 7;
    }

    .destination_seven {
        height: 400px;
        grid-column: 1 / 2;
        grid-row: 8 / 9;
    }

}


@media only screen and (max-width: 525px) {
    .destination_section {
        margin: 3% 4% 10%;
    }

    .destination_link {
        min-width: 200px;
    }
}

/* Activities Section Styles  ---------------- */

.activities_section {
    margin: 7% 17% 3%;
}

.activities_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 333px 333px;
    justify-content: center;
}

.activity_link {
    color: #fff;
    text-decoration: none;
    height: 317px;
    width: inherit;
    margin: 0.500em;
    box-shadow: -2px 2px 40px 0 rgba(0, 0, 0, 0.18);
    border-radius: 3px;
    transition: .2s ease-in-out;
}

.activity_link:hover {
    transform: scale(1.02);
    transition: .2s ease-in-out;
}

.activity_title {
    padding: 12% 10%;
    line-height: 1.4;
    align-self: center;
    text-align: center;
}

.activity_one {
    grid-column: 3 / 6;
    grid-row: 1 / 3;
    height: 650px;
    width: inherit;
    min-width: 400px;
    max-width: 1300px;
    margin-right: 0.500em;
    background: url(../images/activities/activity.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.activity_two {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background: url(../images/activities/activity2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.activity_three {
    background: url(../images/activities/activity3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.activity_four {
    background: url(../images/activities/activity4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.activity_five {
    background: url(../images/activities/activity5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 1760px) {
    .activities_section {
        margin: 7% 10% 10%;
    }
}

@media only screen and (max-width: 1440px) and (max-height: 1400px) {
    .activity_title {
        font-size: 1.1em;
    }
}

@media only screen and (max-width: 1330px) {
    .activities_wrapper {
        grid-template-rows: 1fr 330px 330px;
    }

    .activity_link {
        max-width: none;
    }

    .activity_one {
        grid-column: 1 / 5;
        grid-row: 1 / 2;
        height: 400px;
    }   

    .activity_two {
        grid-column: 1 / 3;
        grid-row: 2 / 4;
    }

    .activity_three {
        grid-column: 3 / 5;
        grid-row: 2 / 4;
    }

    .activity_four {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }

    .activity_five {
        grid-column: 3 / 5;
        grid-row: 3 / 5;
    }
}

@media only screen and (max-width: 900px) {
    .activities_wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 420px);
    }
    
    .activity_one {
        height: 400px;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }   

    .activity_two {
        height: 400px;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .activity_three {
        height: 400px;
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    .activity_four {
        height: 400px;
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }

    .activity_five {
        height: 400px;
        grid-column: 1 / 2;
        grid-row: 5 / 6;
    }
}

@media only screen and (max-width: 525px) {
    .activities_section {
        margin: 3% 4% 10%;
    }

    .activity_link {
        min-width: 200px;
    }
}

/* Restaurants Section Styles  ---------------- */

.restaurants_section {
    margin: 7% 17% 10%;
}

.restaurants_wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 333px 333px;
    justify-content: center;
}

.restaurant_link {
    color: #fff;
    text-decoration: none;
    height: 317px;
    width: inherit;
    margin: 0.500em;
    box-shadow: -2px 2px 40px 0 rgba(0, 0, 0, 0.18);
    border-radius: 3px;
    transition: .2s ease-in-out;
}

.restaurant_link:hover {
    transform: scale(1.02);
    transition: .2s ease-in-out;
}

.restaurant_title {
    align-self: center;
    text-align: center;
}

.restaurant_one {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    height: 650px;
    width: inherit;
    min-width: 400px;
    max-width: 1300px;
    margin-right: 0.500em;
    background: url(../images/restaurants/restaurant.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.restaurant_two {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    background: url(../images/restaurants/restaurant2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.restaurant_three {
    background: url(../images/restaurants/restaurant3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.restaurant_four {
    background: url(../images/restaurants/restaurant4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.restaurant_five {
    background: url(../images/restaurants/restaurant5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 1760px) {
    .restaurants_section {
        margin: 7% 10% 10%;
    }
}

@media only screen and (max-width: 1440px) and (max-height: 1400px) {
    .restaurant_title {
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 1330px) {
    .restaurants_wrapper {
        grid-template-rows: 1fr 330px 330px;
    }

    .restaurant_link {
        max-width: none;
    }

    .restaurant_one {
        grid-column: 1 / 5;
        grid-row: 1 / 2;
        height: 400px;
    }   

    .restaurant_two {
        grid-column: 1 / 3;
        grid-row: 2 / 4;
    }

    .restaurant_three {
        grid-column: 3 / 5;
        grid-row: 2 / 4;
    }

    .restaurant_four {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }

    .restaurant_five {
        grid-column: 3 / 5;
        grid-row: 3 / 5;
    }
}

@media only screen and (max-width: 900px) {
    .restaurants_wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 420px);
    }
    
    .restaurant_one {
        height: 400px;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }   

    .restaurant_two {
        height: 400px;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .restaurant_three {
        height: 400px;
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    .restaurant_four {
        height: 400px;
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }

    .restaurant_five {
        height: 400px;
        grid-column: 1 / 2;
        grid-row: 5 / 6;
    }

}

@media only screen and (max-width: 525px) {
    .restaurants_section {
        margin: 3% 4% 10%;
    }

    .restaurant_link {
        min-width: 200px;
    }
}

/* subscribe section Styles  ---------------- */

.subscribe_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 350px;
    width: 100%;
    background: url(../images/divider/stuff.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-bottom: 20px solid #e26f6f;
    margin-bottom: 7%;
}

.subscribe_content {
    text-align: center;
}

.subscribe_title {
    font-size: 3em;
    margin-bottom: 20px;
}

.subscribe_button {
    color: #fff;
    font-size: 1em;
    line-height: 1em;
    text-decoration: none;
    border: 1px solid #fff;
    width: 100%;
    padding: 12px 50px 7px;
    transition: .3s;
    border-radius: 5px;
}

.subscribe_button:hover {
    background-color: #e26f6f;
    border: 1px solid #e26f6f;
}

@media only screen and (max-width: 1440px) and (max-height: 1400px) {
    .subscribe_section {
        display: none;
  }
}


/* contact section Styles  ---------------- */

.contact_section-wrapper {
    color: #fff;
    background-color: #00a8b3;
    display: flex;
    justify-content: center;
    padding: 4% 25%;
}

.contact_wrapper {
    text-align: center;
}

.contact_wrapper:nth-child(2) {
    padding: 0px 12%;
}


.contact_heading {
    font-size: 3em;
    letter-spacing: 1.2px;
    line-height: 1.2;
}

.contact_subtext {
    text-align: center;
}

@media only screen and (max-width: 1440px) and (max-height: 1400px) {
    .contact_heading {
      font-size: 2em;
  }
}

@media only screen and (max-width: 915px) {
  .contact_section-wrapper {
      padding: 5% 25%;
  }
}

@media only screen and (max-width: 600px) {
  .contact_section-wrapper {
      margin-top: 0;
      padding: 7% 25%;
  }
}

@media only screen and (max-width: 475px) {
  .contact_heading {
      font-size: 1.4em;
  }

  .contact_subtext {
      font-size: .9em;
      text-align: center;
  }
}

@media only screen and (max-width: 325px) {
  .contact_heading {
      font-size: 1em;
  }

  .contact_subtext {
      font-size: .9em;
      text-align: center;
  }
}


/* Footer and Social Icon Styles  ---------------- */

.main_footer {
    background-color: #2d3240;
    color: #fff;
    padding: 2% 0;
}

.footer_nav {
    display: flex;
    justify-content: center;
    text-align: center;
}

.footer_nav--list {
    list-style: none;
}

.footer_nav--item {
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.footer_icon--list {
    display: flex;
    justify-content: center;
}

.footer_icon {
    margin-top: 10px;
    color: #299fb3;
    font-size: 1.5em;
}

.fa-instagram {
    padding: 0 7px;
}

.copyright {
    text-align: center;
    font-size: 75%;
}

@media only screen and (max-width: 600px) {
    .main_footer {
        padding: 5% 2%;
    }
 }