@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
@import url('https://fonts.googleapis.com/css?family=Cambay:400,700');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400i');

/* Universal and Body Styles ------------------------------------------------  */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Cambay", sans-serif;
    color: #fff;
    background: #f4f4f4;
    height: 100%;
    width: 100%;
}

/* Hero Image Styles ------------------------------------------------  */

.background-image {
    background: url(/assets/images/heros/main-hero.jpeg);
    background-color: linear-gradient(to left bottom, #051937, #3e205b, #850464, #c5004c, #eb1212);
    height: 65vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.background-image::before {
    content: '';
    display: block;
    background-color: #000;
    height: 65vh;
    opacity: 0.3;
    width: 100%;
}

@media only screen and (max-width: 1440px) and (max-height: 1400px) {
    .background-image {
        height: 100vh;
    }

    .background-image::before {
        height: 100vh;
    }
}

@media only screen and (max-width: 1330px) {
   .background-image {
       background-attachment: scroll;
   }
}

/* Section Divider Tags Styles ------------------------------------------------  */

.section_title {
    text-align: center;
    color: #f97c80;
    font-weight: 700;
    margin-bottom: 15px;
}

.section_title::after {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    display: block;
    height: 3px;
    width: 1.5%;
    background-color: #f97c80;
}

.section_subtext {
    font-family: "Crimson text" , serif;
    font-size: 1.2em;
    line-height: 1.4;
    color: #555;
    text-align: center;
    margin-bottom: 2%;
}

@media only screen and (max-width: 1440px) and (max-height: 1400px) {
    .section_title {
       font-size: 1em;
    }

    .section_subtext {
        font-size: .9em;
    }
}

/* Nav and logo wrapper styles ------------------------------------------------ */

.main_nav {
    position: fixed;
    top: 0;
    color: #fff;
    height: 90px;
    width: 100%;
    z-index: 2;
    transition: .5s;
}

.main_nav.blue {
    background-color: rgba(35, 40, 55, 0.95);
    height: 90px;
}

.nav_menu-wrapper {
    display: none;
}

#nav:checked ~  .nav_list-wrapper .nav_list .nav_list-items .item_link {
    opacity: 1;
    display: block;
}

#nav:checked + .nav_button i {
    background: #fff;
    transition: transform 0.2s ease;
    box-shadow: none;
}

#nav:checked + .nav_button i:nth-child(1) {
    transform: translateY(14px) rotate(90deg);
}

#nav:checked + .nav_button i:nth-child(2) {
    opacity: 0;
}

#nav:checked + .nav_button i:nth-child(3) {
    transform:rotate(180deg);
}

.hidden {
    display: none;
}

.logo_wrapper {
    height: 90px;
    margin-left: 14%;
    display: flex;
}

.logo_image {
    height: 40px;
    width: 40px;
    border-radius:100%;
    align-self: center;
    margin-right: 10px;
    filter: drop-shadow(-1px 0 1px #000);
}

.logo_text {
    font-family: 'quicksand', sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 1.35em;
    letter-spacing: 1px;
    text-decoration: none;
    text-shadow: -2px 2px 1px #000;
    align-self: center;
    z-index: 2;
    transition: .3s;
}

.nav_list-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    height: 90px;
    width: 100%;
    margin-right: 14%;
}

.nav_list {
    display: flex;
    align-items: center;
    height: 90px;
    justify-content: flex-end;
    font-size: .95em;
}

.nav_list-items{
    align-items: center;
    list-style-type: none;
}

.nav_list-items:first-child {
    padding-right: 40px;
}


.item_link {
    font-family: 'quicksand', sans-serif;
    font-size: 1.25em;
    color: #fff;
    text-decoration: none;
    text-shadow: -2px 2px 0px #000;
}

@media only screen and (max-width: 1440px) and (max-height: 1400px) {
    .nav_list {
        font-size: .75em;
    }
 }

@media only screen and (max-width: 950px) {
    .nav_list-wrapper {
        left: 0;
        transition: all 0.3s ease;
        z-index: -1;
    }

    .nav_list {
        display: block;
        text-align: center;
        font-size: .95em;
    }

    .nav_list-items:first-child {
        margin: 20% 0 10% 0;
        padding-right: 0px;
    }
    
    .item_link {
        display: none;
        font-size: 1.8em;
        opacity: 0;
    }

    .nav_menu-wrapper {
        display: flex;
        height: 90px;
        width: 100%;
        position: fixed;
        align-items: center;
    }

    .nav_button {
        position: fixed;
        right: 0;
        cursor: pointer;
        margin-right: 14%;
        z-index: 9999;
    }

    .nav_button i {
        display: block;
        width: 26px;
        height: 3px;
        background: #fff;
        box-shadow: -2px 2px 1px #000;
        border-radius: 2px;
    }

    .nav_button i:nth-child(2) {
        margin-top: 4px;
    }

    .nav_button i:nth-child(3) {
        margin-top: 4px;
    }

    #nav:checked ~ .nav_list-wrapper {
        height: 100vh;
        background-color: rgba(35, 40, 55, 0.98);
    }

    .logo_image {
        display: none;
    }
 
    .logo_text {
        font-size: 1.7em
    }
}


@media only screen and (max-width: 570px) {
   .logo_text {
       z-index: -999;
   }
   
    .nav_list-items:first-child {
        margin-top: 45%;
        padding-right: 0px;
    }
}


/* Main Hero Wrapper and Heading Styles ------------------------------------------------  */

.main_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    height: 65vh;
    width: 50%;
    top: 32.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header_title {
    font-family: "Cambay" , sans-serif;
    font-size: 10em;
    font-weight: 800;
    letter-spacing: -5px;
    color: #fff;
    line-height: 35px;
    text-shadow: -2px 2px 2px #000;
    width: 80%;
    align-self: center;
    text-align: center;
    animation-delay: .5s;
}

.header_title::after {
    content: "";
    display: block;
    position: absolute;
    height: 1.45px;
    width: 100%;
    background-color: #e26f6f;
    z-index: -1;
}

.header_description {
    font-family: "Cambay";
    font-weight: 600;
    color: #fff;
    font-size: 1.6em;
    text-align: center;
    line-height: 1.5em;
    letter-spacing: 1.25px;
    text-shadow: -2px 2px 2px #000;
    margin-top: 3.5em;
    animation-delay: .3s;
}

.button_wrapper {
    display: flex;
    justify-content: center;
}

.button {
    color: #fff;;
    font-size: 1.2em;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 1.5em;
    padding: 22px 40px 18px;
    background-color: #e26f6f;
    transition: .3s;
}


@media only screen and (max-width: 1980px) and (max-height: 1100px) {   
    .main_header {
        top: 36%;
    }
    
    .header_title {
        font-size: 9em;
    }

    .header_description {
        font-size: 1.6em;
        margin-top: 3.5em;
        width: 100%;
    }

    .button {
        margin-top: 1em;
    }
}

@media only screen and (max-width: 1440px) and (max-height: 1400px) {   
    .header_title {
       font-size: 6.5em;
   }

   .header_description {
       font-size: 1.1em;
   }
 }

@media only screen and (max-width: 1024px) and (max-height: 768px) {
     .button {
        display: none;
    }
 }

@media only screen and (max-width: 1440px) {
    .main_header {
        top: 50%;
    }
}

@media only screen and (max-width: 950px) {
    .header_title {
        font-size: 9em;
        width: 100%;
    }

    .header_title::after {
        display: none;
    }

    .header_description {
        font-size: 1.45em;
    }

    .button {
        width: 50%;
        text-align: center;
    }
}

@media only screen and (max-width: 825px) and (max-height: 425px) {
    .header_title {
        font-size: 5em;
    }
    
    .header_description {
       display: none;
   }
}

@media only screen and (max-width: 640px) {
    .main_header {
        width: 80vw;
    }
    
    .header_title {
        font-size: 8em;
    }

    .header_description {
        font-size: 1.3em;
    }

    .button {
        display: none;
    }
}

@media only screen and (max-width: 425px) {
    .header_title {
        font-size: 6em;
    }

    .header_description {
        font-size: 1.1em;
    }
}

@media only screen and (max-width: 330px) {

    .header_title {
        font-size: 4em;
    }

    .header_description {
        font-size: 1em;
    }
}


/* section one styles ------------------------------------------------ */

.article_section {
    margin: 3% 17% 10%;
}

.article_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 420px 420px 420px; 
    justify-content: center;
}

.article_link {
    height: 400px;
    width: inherit;
    min-width: 400px;
    margin: 0.500em;
    box-shadow: -2px 2px 40px 0 rgba(0, 0, 0, 0.18);
    border-radius: 3px;
    transition: .2s ease-in-out;
    color: #fff;
    text-decoration: none;
}

.article_link:hover {
    transform: scale(1.02);
    transition: .2s ease-in-out;
}

.post-one {
    background: url('/assets/images/articles/article1.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.post-two {
    background: url('/assets/images/articles/article2.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.post-three {
    background: url('/assets/images/articles/article3.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.post-four {
    background: url('/assets/images/articles/article4.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.post-five {
    background: url('/assets/images/articles/article5.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.post-six {
    background: url('/assets/images/articles/article6.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.post-seven {
    background: url('/assets/images/articles/article7.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.post-eight {
    background: url('/assets/images/articles/article8.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.post-nine {
    background: url('/assets/images/articles/article9.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.post-ten {
    background: url('/assets/images/articles/article10.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.post-eleven {
    background: url('/assets/images/articles/article11.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.post-twelve {
    background: url('/assets/images/articles/article12.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.post_overlay {
    height: fit-content;
    display: none;
    position: absolute;
    color: #fff;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(72, 76, 97, 0) 0%, rgba(72, 76, 97, 0.9) 75%);
}

.article_link:hover .post_overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12% 10%;
    text-align: center;
}

.post_heading {
    font-size: 1.4em;
    align-self: center;
    margin-bottom: 0.438em;
}

.post_description {
    font-size: 1em;
    text-align: left;
    align-self :center;
    margin-bottom: 20px;
}

@media only screen and (max-width: 1760px) {
    .article_section {
        margin: 3% 10% 10%;
    }

    .article_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 1440px) and (max-height: 1400px) {
    .post_heading {
        font-size: 1em;
    }
    
    .post_description {
        font-size: .8em;
    }
}


@media only screen and (max-width: 1330px) {
    .article_wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .post_overlay {
        display: block;
        position: relative;
        height: auto;
        padding: 12% 10%;
        background: linear-gradient(to top, rgba(72, 76, 97, 0) 0%, rgba(72, 76, 97, 0.8) 99%);
    }

    .article_link:hover {
        transform: none;
    }
    
    .post_heading {
        text-align: center;
        text-shadow: -2px 2px 2px #888;
    }

    .post_description {
        text-shadow: -2px 2px 2px #999;
    }
}


@media only screen and (max-width: 900px) {
    .article_wrapper {
        grid-template-columns: 1fr;
    }

    .post_heading {
        font-size: 1.6em;
    }

    .post_description {
        font-size: 1.25em;
    }
}


@media only screen and (max-width: 630px) {

    .post_heading {
        font-size: 1.4em;
    }

    .post_description {
        font-size: 1em;
    }
}

@media only screen and (max-width: 450px) {
    .article_section {
        margin: 3% 4% 10%;
    }

    .article_link {
        min-width: 200px;
    }
}


@media only screen and (max-width: 320px) {
    .post_heading {
        font-size: 1em;
    }

    .post_description {
        font-size: .9em;
    }

}
/* Section Two and Video Styles  ------------------------------------------------  */

.newsletter_section {
    margin-bottom: 7%;
}

.video_content-wrapper {
    display: flex;
    height: 650px;
    border-bottom: 20px solid #e26f6f;
}

.video {
    height: 650px;
}

.video_overlay {
    position: absolute;
    height: 650px;
    width: 1155.550px;
    background: -webkit-radial-gradient(50% 55%, ellipse closest-corner, rgba(75, 101, 121, 0.42) 1%, rgba(0, 17, 39, 0.6) 100%);
}

.video_link-wrapper {
    position: absolute;
    height: 650px;
    width: 1155.550px;
}

.video_link {
    color: #fff;
    font-family: "Cambay";
    font-size: 2em;
    font-weight: 800;
    letter-spacing: 1px;
    text-shadow: -2px 2px 1px #777;
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

@media only screen and (max-width: 1900px) {
    .video_content-wrapper {
        display: flex;
        height: 534.347px;
        border-bottom: 20px solid #e26f6f;
    }

    .video {
        height: auto;
        width: 950px;
    }

    .video_overlay {
        height: 534.347px;
        width: 950px;
    }

    .video_link-wrapper {
        position: absolute;
        height: 534.347px !important;
        width: 950px;
    }

    .video_link-wrapper {
        position: absolute;
        height: 650px;
        width: 950px;
    }
}

@media only screen and (max-width: 1472px) {
    .video_content-wrapper {
        display: flex;
        height: 393.750px;
        border-bottom: 20px solid #e26f6f;
    }

    .video {
        height: auto;
        width: 700px;
    }

    .video_overlay {
        height: 393.750px;
        width: 700px;
    }

    .video_link-wrapper {
        position: absolute;
        height: 393.750px !important;
        width: 700px;
    }
}

@media only screen and (max-width: 1440px) and (max-height: 1400px) {
   .video_link {
      font-size: 1.5em;
   }
}

@media only screen and (max-width: 1200px) {

    .newsletter_section {
        display: none;
    }

}

/* content in video section Styles  ------------------------------------------------  */

.content_right-wrapper {
    width: 100%;
    padding: 95px 100px;
    background-color: #2d3240;
}

.content_paragraph {
    font-size: 1em;
    opacity: 0.7;
    width: 57%;
    margin-bottom: 2.500em;
}

.content_heading {
    margin-bottom: 2em;
}

.content_logo {
    height: 125px;
    width: 125px;
    border-radius: 6px;
    filter: drop-shadow(-1px 1px 1px #777);
    margin-bottom: 2.500em;
}

.content_button {
    color: #fff;
    font-size: 13px;
    line-height: 1em;
    text-decoration: none;
    border: 1px solid #fff;
    width: 100%;
    padding: 12px 50px 7px;
    transition: .3s;
    border-radius: 5px;
}

.content_button:hover {
    color: #000;
    background-color: #fff;
}


@media only screen and (max-width: 1900px) {
    .content_right-wrapper {
        background-color: #2d3240;
        padding: 65px 60px;
    }

    .content_logo {
        display: none;
    }
}

@media only screen and (max-width: 1586px) {
    .content_paragraph {
        width: 77%;
    }
}

@media only screen and (max-width: 1472px) {
    .content_right-wrapper {
        background-color: #2d3240;
        padding: 35px 60px;
    }
}

@media only screen and (max-width: 1440px) and (max-height: 1400px) {
    .content_paragraph {
        font-size: 14px;
    }

    .content_heading {
        font-size: 1em;
    }
 }

@media only screen and (max-width: 1300px) {
    .content_paragraph {
        width: 98%;
        margin-bottom: 0.938em;
    }
}

@media only screen and (max-width: 1200px) {
    .content_right-wrapper {
       display: none;
    }

    .content_button {
        display: none;
    }
}

/* Contact Section Styles  ------------------------------------------------  */

.contact_section-wrapper {
    color: #fff;
    background-color: #00a8b3;
    display: flex;
    justify-content: center;
    padding: 4% 25%;
    margin-top: 40px;
}

.contact_wrapper {
    text-align: center;
}

.contact_wrapper:nth-child(2) {
    padding: 0px 12%;
}


.contact_heading {
    font-size: 3em;
    letter-spacing: 1.2px;
    line-height: 1.2;
}

.contact_subtext {
    text-align: center;
}
@media only screen and (max-width: 1440px) and (max-height: 1400px) {
      .contact_heading {
        font-size: 2em;
    }
 }

 @media only screen and (max-width: 915px) {
    .contact_section-wrapper {
        padding: 5% 25%;
    }
 }

 @media only screen and (max-width: 600px) {
    .contact_section-wrapper {
        margin-top: 0;
        padding: 7% 25%;
    }
 }

 @media only screen and (max-width: 475px) {
    .contact_heading {
        font-size: 1.4em;
    }

    .contact_subtext {
        font-size: .9em;
        text-align: center;
    }
 }

 @media only screen and (max-width: 325px) {
    .contact_heading {
        font-size: 1em;
    }

    .contact_subtext {
        font-size: .9em;
        text-align: center;
    }
 }


/* Footer and Social Icon Styles  ------------------------------------------------ */

.main_footer {
    padding: 2% 0;
    background-color: #2d3240;
    color: #fff;
}

.footer_nav {
    display: flex;
    justify-content: center;
    text-align: center;
}

.footer_nav-list {
    list-style: none;
}

.footer_nav-item {
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.footer_icon-list {
    display: flex;
    justify-content: center;
}

.footer_icon {
    color: #299fb3;
    font-size: 1.5em;
    margin-top: 10px;
}

.fa-instagram {
    padding: 0 7px;
}

.copyright {
    text-align: center;
    font-size: 75%;
    opacity: 0.7;
}

@media only screen and (max-width: 1100px) {
    .main_footer {
        padding: 5% 0;
    }
 }